@import '../../Scss/Styles.scss';

.form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .form__email,
    .form__name,
    .form__phone {
        width: 100%;
        position: relative;

        .form__label {
            width: 100%;
            color: $gray1;
            position: absolute;
            top: 0.5rem;
            left: 0;
            transition: font-size 0.3s ease, top 0.3s ease;
        }

        .form__input {
            width: 92%;
            margin-bottom: 3rem;
            padding: 0.5rem 1rem;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            background-color: transparent;
            border-bottom: 02.5px solid $gray1; 
            
            &:focus {
                outline: none;

                + .form__label {
                    top: -0.25rem;
                    font-size: 0.6rem;
                }
            }
        }        
    }
    
    .form__button {
        width: 100%;
        padding: 1rem;
        border: none;
        color: $white;
        border-radius: $radius;
        background-color: $main-color;
        margin: 2rem 0;
    }

    .text__alert {
        color: $main-color;
    }


}
