$mainFont: 'Raleway', sans-serif;

// MediaQueries
$tablet: 1050px;
$mobile: 480px;
$desktop: 1200px;

// Theme colors
$main-color: #fc3a52;
$black: #212121;
$black2: #373331; 
$gray1: #acacac;
$gray2: #8C8C8C;
$gray3: #454545;
$gray4: #f7f7f7;
$white: #FFFFFF;

$radius: 5px;
$header-height: 6rem;